HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Meta Data ###
/.metadata

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
backend\sandtgroup-30435-firebase-adminsdk-mqkp5-185b5740d0.json
sandtgroup-30435-firebase-adminsdk-mqkp5-185b5740d0.json
